body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.table_highlight{
	background-color:#CCC;
}
div[datalist] table{
	width:100%;
	height:200px;
	overflow-y: scroll;
	display:block;
}
div[datalist] table tr th:nth-child(1),div[datalist] table tr td:nth-child(1){
	width:50px;
	display: block;
	overflow: hidden;
}
div[datalist] table tr th:nth-child(2),div[datalist] table tr td:nth-child(2){
	width:40%;
	overflow: hidden;
}
div[datalist] table tr th:nth-child(3),div[datalist] table tr td:nth-child(3){
	width:50%;
	overflow: hidden;
}
div[objecteditor]{
	position:relative;
	padding:5px;
}
div[objecteditor] header{
	 font-size: 16px;
	 margin:10px 0;
	 font-weight: bold;
}
div[objecteditor] img{
	width:80px;
	height:80px;
	position:absolute;
	top:40px;
	right:10px;
}